PORT=

API_URL=""
CLIENT_URL=""


//JWT secrets
ACCESS_TOKEN_SECRET=youraccesstokensecret
REFRESH_TOKEN_SECRET=yourrefreshtokensecret

//SWAGGER
SWAGGER_ENABLE=true
SWAGGER_API_DOC=/api-documentation

//Postgres
DB_USER=
DB_PASS=
DB_NAME=
DB_HOST=127.0.0.1
DB_DIALECT=postgres

DB_TEST_USER=postgres
DB_TEST_PASS=postgres
DB_TEST_NAME=postgres
DB_TEST_HOST=localhost
DB_TEST_DIALECT=mysql

DB_PROD_USER=postgres
DB_PROD_PASS=postgres
DB_PROD_NAME=postgres
DB_PROD_HOST=localhost
DB_PROD_DIALECT=mysql

//Mail
// пароль не учетной записи, а созданный пароль приложения
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_SERVICE=gmail