.navbar {
  background-color: #15315b;
  flex-grow: 1;
  position: static;
  width: '100%';
  min-height: 64px
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white !important;
  text-decoration: none !important;
  font-size: large;
  background-color: #15315b;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

a:hover {
  background-color: #0960b6;
  text-decoration: none;
  color: white;
}